################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Andyskl.PleaseRepost/bin
/Andyskl.PleaseRepost/obj/Debug
