################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Andyskl.PleaseRepost/bin
/Andyskl.PleaseRepost/obj/Debug
/Andyskl.Data/obj/Debug
/Andyskl.Web.Authentication/obj/Debug
/Andyskl.Web.Authentication.Data/obj/Debug
/Hnkprj.Flows.Core/bin/Debug
/Hnkprj.Flows.Core/obj/Debug
